<!DOCTYPE html>
<html ng-app="ngapp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block header %}
		<title>Good_Life</title>
		<meta name="description" content="Webpage of Good_Life">
		<meta name="keywords" content="Good_Life">
		<meta name="author" content="Honchar Denys">
		<base href="/">
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	{% block topbar %}
	{% include '__topbar.html' %}
	{% endblock %}
	{% block body %}{% endblock %}
	<!-- Script -->
	{% block lab %}
		<script src="/gen/lab-min.js"></script>
	{% endblock %}
	{% block script %}
		<script>
			var app = angular.module('ngapp',[]);
		</script>
	{% endblock %}
	{% block crud %}
		<script src="/js/crud.js"></script>
	{% endblock %}
</body>
</html>