// Container widths
//
// Set the container width

@if $enable-grid-classes {
  .container {
  	// max-width: 1400px;
  	display: block;
  	margin: 0 auto;
  	padding: 0 15px;
  	border: 1px solid red;
    // @include make-container();
    @include bp-min(xxl) {
	    width: 1440px;
	}
    @include bp-max(xxl) {
	    width: 1400px;
	}
    @include bp-max(xl) {
	    width: 1320px;
	}
    @include bp-max(lg) {
	    width: 1000px;
	}
    @include bp-max(md) {
	    max-width: 750px;
	}
    @include bp-max(sm) {
	    width: 100%;
	}
	
    
  }
}

