/// The default column count of a grid.
/// @type Number
$grid-column-count: 12 !default;

/// Padding between columns. Gets divided in half for the left and right.
/// @type Number
$grid-gutter-width: 30px !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-grid-classes: true !default;
