/* =========== variables ============== */
$bg-topbar: rgba(60, 141, 188, 1);  			
$bg-topbar--hover: rgba(53, 124, 165, 1);       
$bg-main: rgba(236, 240, 245, 1);               
$bg-sidebar: rgba(34, 45, 50, 1);               
$bg-sidebar--hover: rgba(30, 40, 44, 1);        
$input-bg-color: rgba(55, 72, 80, 1);    
/* =========== mixins ============== */       
@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}
box, cel, row, cma {
	display: block;
}
.absolute-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.v-center {
	@extend .d-flex, .align-items-center;
}
.h-center {
	@extend .d-flex;
	justfy-content: center;
}
/* =========== topbar ============== */
.topbar-container {
	@extend .v-center;
	height: 50px;
	background-color: $bg-topbar;
	a {
		color: $white;
	}
	cma {
		height: 100%;
		width: 100px;
		transition: .3s;
		&:hover {
			background-color: $bg-topbar--hover;
		}
		& > a {
			@extend .absolute-center;
			width: 100%;
			height: 100%;
			text-decoration: none;
		}
	}
	.user-menu {
		@extend .d-flex;
		width: 300px;
		box {
			@extend .d-flex;
		}
		a {
			@extend .absolute-center;
			width: 100%;
			height: 100%;
			text-decoration: none;
			&:hover {
				background-color: $bg-topbar--hover;
			}
		}
		&:hover {
			background-color: inherit;
		}
		&__avatar {
			width: 50px;
			img {
				border-radius: 50%;
			}
		}
		&__name {
			@extend .absolute-center;
			width: 150px;
			color: $white;
			padding: 5px;
			span {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		&__profile {
			@extend .absolute-center;
			width: 50px;
		}
		&__logout {
			@extend .absolute-center;
			width: 50px;
		}
	}
}
.topbar-logo {
	flex: 1;
	padding: 0 $space2;
}
/* =========== content ============== */
.explore-container {
	@extend .d-flex;
	height: calc(100vh - 50px);
	overflow: hidden;
}
.user-container {
	flex: 1;
	background-color:  $bg-main;
	overflow-y: auto;
}
/* =========== sidebar ============== */
.aside-container {
	width: 300px;
	padding: 0.625rem;
	display: flex;
	flex-direction: column;
	background-color: $bg-sidebar;
	color: $gray;
	
	input {
		background-color: $input-bg-color;
		border-color: transparent;
		color: $white;
		&:focus {
			background-color: lighten($input-bg-color, 10%);
		}
		@include placeholder {
		    text-indent: 0px;
		    transition: text-indent 400ms;
		}
		&:focus {
			@include placeholder {
				text-indent: 500px;
			}
		}
	}
	
	& > row {
		display: block;
		margin-bottom: 15px;
	}
	.sign-in-up--title, h2 {
		color: $white;
	}
}
.age-box {
	display: flex;
	justify-content: space-between;
	cel {
		width: 48%;
	}
}
.gender-box {
	@extend .v-center;
	justify-content: space-around;
	h4 {
		margin: 0 10px 0 0;
	}
}
/* =========== sign up ============== */
.g-recaptcha-outer {
	margin: $fs-xs 0;
	.g-recaptcha-inner {
		width: 240px;
		margin: 0 auto;
		.g-recaptcha {
			transform: scale(0.8);
			transform-origin: left;
		}
	}
}