{% extends 'structure/_index_simple.html' %}
{% block body %}
<div>{{{'hello_world'|tr('en.js')}}}</div>
<div class="p2">

<!-- Headings -->
	<hr>
	<h3>Headings</h3>
	<hr>

	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 6</h6>

<!-- Links -->
	<hr>
	<h3>Links</h3>
	<hr>
	<div>
		<a href="#">Chile</a>
		<a href="#">Micronesia</a>
		<a href="#">Samoa</a>
		<a href="#">Tanzania</a>
	</div>

<!-- Lists -->
	<hr>
	<h3>Lists</h3>
	<hr>
	<!-- Standart list -->
	<ul>
	  <li>Simple list</li>
	  <li>Vatican City</li>
	  <li>Somalia</li>
	  <li>Fiji</li>
	</ul>

	<!-- Ordered list -->
	<ol>
	  <li>Ordered list</li>
	  <li>Panama</li>
	  <li>Afghanistan</li>
	  <li>Egypt</li>
	</ol>

	<!-- List with more space -->
	<ul class="m_vspace">
	  <li><b>m_vspace</b> - more space</li>
	  <li>Chad</li>
	  <li>Guyana</li>
	  <li>Malawi</li>
	</ul>

	<!-- List without points -->
	<ol class="m_clear">
	  <li><b>m_clear</b> - list without points</li>
	  <li>Panama</li>
	  <li>Afghanistan</li>
	  <li>Egypt</li>
	</ol>

	<!-- Inline list -->
	<ul class="m_inline">
	  <li><b>m_inline</b> - inline list</li>
	  <li>Argentina</li>
	  <li>Pakistan</li>
	  <li>Venezuela</li>
	</ul>

<!-- Buttons -->
	<hr>
	<h3>Buttons</h3>
	<hr>
	<div>
		<button class="btn">Button</button>
		<button class="btn"><i class="icon icon-status5"></i>With icon</button>
		<button class="btn m_disabled">m_disabled</button>
		<div class="pt">
			<button class="btn m_accent">m_accent</button>
			<button class="btn m_danger">m_danger</button>
			<button class="btn m_black">m_black</button>
			<button class="btn m_gray">m_gray</button>
		</div>	
		<div class="pt">
			<button class="btn m_transparent">m_transparent</button>
			<button class="btn m_transparent m_disabled">& m_disabled</button>
			<button class="btn m_transparent m_accent">& m_accent</button>
			<button class="btn m_transparent m_danger">& m_danger</button>
			<button class="btn m_transparent m_black">& m_black</button>
			<button class="btn m_transparent m_gray">& m_gray</button>
		</div>
		<div class="pt">
			<button class="btn m_icon" title="m_icon - only icon"><i class="icon icon-twitter"></i></button>
			<button class="btn m_ricon" title="m_ricon - only icon"><i class="icon icon-status1"></i></button>
		</div>
		
	</div>
</div>
{% endblock %}
