@font-face {
	font-family: "public";
	src: url("public.eot?f02e0d1973c5528c7eb34f59d65693d6?#iefix") format("embedded-opentype"),
url("public.woff2?f02e0d1973c5528c7eb34f59d65693d6") format("woff2"),
url("public.woff?f02e0d1973c5528c7eb34f59d65693d6") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: public !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-add:before {
	content: "\f101";
}

/*D:\Projects\waw/client/icons/add.svgD:\Projects\waw/client/gen/wawPrefix*/