<box>
	<lma><a href="/">WAW LOGO</a></lma>
	{% if !user %}
		<cma style="width: 100px;"><a href="/Login">Login</a></cma>
		<cma style="width: 100px;"><a href="/Sign">Sign Up</a></cma>
	{% endif %}
	{% if user&&user.isAdmin %}
		<cma style="width: 100px;"><a href="/Admin">Admin</a></cma>
	{% endif %}
	{% if user %}
		<cma>
			<img src="" alt="User Face">
			<span>User Name</span>
			<i>Dropdown icon</i>
			<box>
				<row><a href="/Profile">Profile</a></row>
				<row><a href="/api/user/logout">Log out</a></row>
			</box> 
		</cma>
	{% endif %}
</box>
