<scroll>
	<box>
		<row>
			<cel>avatar</cel>
			<cel>email</cel>
			<cel>name</cel>
			<cel ng-if="u.is.super_admin">admin</cel>
			<cel ng-if="u.is.super_admin">delete</cel>
			<cel ng-if="u.is.super_admin">new pass</cel>
		</row>
		<row ng-repeat="user in u.users">
			<cel><img ng-src="{{user.avatarUrl}}" alt=""></cel>
			<cel>{{user.email}}</cel>
			<cel>{{user.name}}</cel>

			<cel ng-if="u.is.super_admin">
				<button ng-click="user.is.admin=!user.is.admin; u.update(user);"><span ng-if="!user.is.admin">Make</span><span ng-if="user.is.admin">Remove</span> Admin</button>
			</cel>
			<cel ng-if="u.is.super_admin">
				<button ng-click="u.delete(user)" ng-if="u._id != user._id">Delete</button>
			</cel>
			<cel ng-if="u.is.super_admin">
				<form ng-submit='u.changePassword(user)'>
					<input type="password" placeholder="new pass" ng-model="user.newPass" autocomplete="new-password">
					<button type="submit">Change</button>
				</form>
			</cel>

		</row>
	</box>
</scroll>