{% extends '__index.html' %}

{% block body %}
	<box ng-controller="Users">
		<cel lusers>
			<scroll>
				<h2>SEO VIEW</h2>
				{% for user in users %}
				<span>
					<img src="{{{user.avatarUrl}}}" alt="Avatar of {{{user.name}}}">
					<span>{{{user.name}}}</span>
					<button ng-if="u._id&&!u.following('{{{user._id|string}}}')" ng-click="u.follow({_id: '{{{user._id|string}}}'})">Follow</button>
					<button ng-if="u._id&&u.following('{{{user._id|string}}}')" ng-click="u.unfollow({_id: '{{{user._id|string}}}'})">Unfollow</button>
				</span>
				{% endfor %}
			</scroll>
		</cel>
		<!-- Filters -->
		<cel style="width: 400px">
			<box>
				<row style="height: 70px;">
					<label>
						<h2>Name</h2>
						<input type="text" placeholder="Type Name" ng-model="u.sName" ng-change="u.search()">
					</label>
				</row>
				<row style="height: 70px;">
					<h2>Age</h2>
					<box>
						<cel>
							<label>
								<h4>From</h4>
								<input type="number" placeholder="Type Min Age" ng-model="u.sMinAge" ng-change="u.search()">
							</label>
						</cel>
						<cel>
							<label>
								<h4>To</h4>
								<input type="number" placeholder="Type Max Age" ng-model="u.sMaxAge" ng-change="u.search()">
							</label>
						</cel>
					</box>
				</row>
				<row style="height: 70px;">
					<h2>Gender</h2>
					<box>
						<cel>
							<label>
								<input type="checkbox" ng-model="u.sMale" ng-change="u.if_false_make_true('sFemale'); u.search()">
								<h4>Male</h4>
							</label>
						</cel>
						<cel>
							<label>
								<input type="checkbox" ng-model="u.sFemale" ng-change="u.if_false_make_true('sMale'); u.search()">
								<h4>Female</h4>
							</label>
						</cel>
					</box>
				</row>
				<row>
					<h2>By Skill</h2>
					<!-- Add select which specify the search like: have all skills selected, have at least one of the skills selected, have few skills selected -->
					<box>
						<scroll>
							<box>
								<row ng-repeat="skill in u.all_skills">
									<label>
										<input type="checkbox" ng-model="u['ss_'+skill]" ng-change="u.search()">
										<h4>{{skill}}</h4>
									</label>
								</row>
							</box>
						</scroll>
					</box>
				</row>
			</box>
		</cel>
	</box>
{% endblock %} 