{% extends '__index.html' %}

{% block body %}



<div>
	<h3>My Skills</h3>
	<label ng-repeat='skill in u.all_skills'>
		<span>{{skill}}</span>
		<input type="checkbox" ng-model="u.skills_checked[skill]" ng-change="u.updateSkill()">
	</label>
</div>

<label>
	<h3>Name</h3>
	<input type="text" ng-model="u.name" ng-change="u.updateAfterWhile()">
</label>

<label>
	<h3>Birthday</h3>
	<input type="date" ng-model="u.birth" ng-change="u.updateAfterWhile()">
</label>

<label>
	<h3>Gender</h3>
	<select type="text" ng-model="u.gender" ng-change="u.updateAfterWhile()" ng-options="gender for gender in ['male', 'female']"></select>
</label>

<label for="ProfileID">
	<img ng-src="{{u.avatarUrl}}" alt="User Face">
</label>



{% endblock %}